<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<head>
<title>Dashboard</title>
</head>
<body>
   <section layout:fragment="content">
   
   
<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Control: <b th:text="${device.serial}"></b></h3>
   </div>
   <div class="panel-body">
         
         <ul class="list-group">           
            
               <li class="list-group-item" th:each="gpio : ${namedPins}">
                     <strong th:text="|${device.wiring.getPinName(gpio.name())}:|"></strong>                  
                     <a th:if="${state[gpio.name()].isEnabled()}" class="btn btn-small btn-success" th:href="|/device/control/${device.id}/gpio/${gpio.pinNumber}/disable|">Disable</a>                  
                     <a th:if="${!state[gpio.name()].isEnabled()}" class="btn btn-small btn-danger" th:href="|/device/control/${device.id}/gpio/${gpio.pinNumber}/enable|">Enable</a>                  
               </li>            
         </ul>
   
   </div>
</div>

   <a href="/device" class="btn btn-default btn-small">Back</a>

   </section>
</body>
</html>