<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<head>
<title>Dashboard</title>
</head>
<body>
   <section layout:fragment="content">
<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
   </div>
   <div class="panel-body">

        <form role="form" method="post" th:object="${form}">

               <div layout:include="forms/html" th:with="field='name', label='Name'">
                  <input type="text" th:field="*{name}" layout:fragment="input" />
               </div>
               
               <div layout:include="forms/html" th:with="field='serial', label='Serial'">
                  <input type="text" th:field="*{serial}" layout:fragment="input" />
               </div>
         
         <div class="form-group">
            <label>Type</label>
            <select name="deviceTypeId" class="form-control">            
              <option th:each="type : ${deviceTypes}" th:selected="${type.id == form.deviceTypeId}" th:value="${type.id}" th:text="${type.name}"></option>            
            </select>
         </div>
         
         <div class="form-group">
            <label>Wiring</label>
            <select name="wiringId" class="form-control">            
                  <option th:each="wiring : ${wirings}" th:selected="${wiring.id == form.wiringId}" th:value="${wiring.id}" th:text="${wiring.name}"></option>            
            </select>
            </div>
         
                      
         <button type="submit" class="btn btn-default">Submit</button>
     
      </form>

   </div>
</div>

<a href="/device" class="btn btn-default btn-small">Back</a>

   </section>
</body>
</html>